@model IEnumerable<KoiPond.Models.YeuCauThiCong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiThietKe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietYeuCau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiYeuCau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanHoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileDinhKem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThietKe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTietYeuCau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiYeuCau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanHoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileDinhKem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaYeuCau">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaYeuCau">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaYeuCau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
