@using System.Collections;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "List all roles";
}
<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Quyền hệ thống</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Trang chủ</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Quản trị</h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Quyền</h6>
    </div>
</div>
<!-- Page Header End -->

<div class=" container my-4">
    <h1>All roles</h1>
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

    <a asp-action="CreateRole" asp-controller="Roles"
       class="btn btn-primary mb-3" style="width:auto; margin:30px">
        Add new role
    </a>

    @if (Model.Any())
    {
        <div style="margin-top:20px">
            @foreach (var role in Model)
            {
                <div class="card mb-5" style="margin:10px">
                    <div class="card-header">
                        Role Id: @role.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Role Name: @role.Name
                        </h5>
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <a asp-controller="Roles" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete user : @role.Name')">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>

            }
        </div>

    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles created yet
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    Create a first role
                </h1>
                <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole">
                    Create new role
                </a>
            </div>
        </div>
    }
</div>

